In [6]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
vdf = pd.read_csv('fruitvegprices-2017_2022.csv')

In [3]:
vdf

         category           item            variety        date  price  unit
0           fruit         apples  bramleys_seedling  2022-03-11   2.05    kg
1           fruit         apples  coxs_orange_group  2022-03-11   1.22    kg
2           fruit         apples    egremont_russet  2022-03-11   1.14    kg
3           fruit         apples           braeburn  2022-03-11   1.05    kg
4           fruit         apples               gala  2022-03-11   1.03    kg
...           ...            ...                ...         ...    ...   ...
9642  cut_flowers    alstromeria             indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum       indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies           oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus             indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen              13_cm  2017-11-03   0.75  unit

[9647 rows x 6 columns]

## Ejercicios

### Ejercicio uno: realice un analisis de valores nulos

En caso de existir valores nulos elimine esos registros

In [ ]:
result = pd.DataFrame()

for date_ in vdf.loc[ : , 'date' ].drop_duplicates():
    v_date = vdf.loc[ vdf['date'] == date_ , : ]    
    for column_ in v_date.columns:        
        percentage =  np.sum(pd.isna( v_date.loc[ : , column_ ]  )) / v_date.shape[0]
        dfrow = pd.DataFrame({
            'date': [ date_ ]
            , 'column' : [ column_ ]
            , 'percentage-of-nans' : [ percentage ]
        })
        result = pd.concat([result, dfrow])
result

### Ejercicio dos: Por categoria, cuantos distintos items hay y cuantos distintos variety hay?

El resultado debe de tener el siguiente formato de presentacion:

In [26]:
pd.DataFrame({
    "category" : ['cut_flowers','fruit']
    , "item_count" : [9,10]
    , "variety_Count" : [10,21]
})

      category  item_count  variety_Count
0  cut_flowers           9             10
1        fruit          10             21

Como nota en un mismo dataframe mostramos todo lo solicitado, usted debe de mostrar todas las categorias

In [ ]:
ejercicio2 = vdf.groupby(['category'],as_index=False).agg({'item':['count'],'variety':['count']})
ejercicio2 = ejercicio2.drop_duplicates()
ejercicio2.columns = ejercicio2.columns.droplevel(0)
ejercicio2.columns = ['category','item-count','variety-count']
ejercicio2

### Ejercicio tres: Para la combinacion item, variety muestre el ultimo valor registrado por aÃ±o.

Ejemplo de como debe de mostrar su respuesta

In [27]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year" : [2022]
    , "last_price" :  [3.2]
})

      item variety  year  last_price
0  Manzana    Gala  2022         3.2

In [ ]:
vdf["date"] = pd.to_datetime(vdf["date"])

ejercicio3 = vdf.loc[ :, ['item','variety','date','price']]
ejercicio3['date'] = ejercicio3['date'].dt.year
ejercicio3 = ejercicio3.drop_duplicates()
ejercicio3.columns = ['item', 'variety', 'year', 'price']
ejercicio3

### Ejercicio cuatro: Segun el ejercicio tres, que tanto aumento o disminuyo el precio de cada item-variety 

Ejemplo de como se debe de mostrar su respuesta

In [28]:
pd.DataFrame({
    "item" : ['Manzana','Manzana','Manzana']
    , "variety" : ['Gala','Gala','Gala']
    , "year" : [2020,2021,2022]
    , "last_price" :  [2.7,2.5,3.2]
    , "delta" : [0, (2.5-2.7), (3.2-2.5)]
})

      item variety  year  last_price  delta
0  Manzana    Gala  2020         2.7    0.0
1  Manzana    Gala  2021         2.5   -0.2
2  Manzana    Gala  2022         3.2    0.7

Segun nuestro ejemplo dummy para 2021 estuvo 0.2 centavos mas barato y en 2022 estuvo 0.7 centavos caro

In [ ]:
ejercicio4 = vdf.loc[ :, ['item','variety','date','price']]
ejercicio4['date'] = ejercicio4['date'].dt.year
ejercicio4 = ejercicio4.drop_duplicates()
ejercicio4 = ejercicio4.groupby(['item','variety','date','price'],as_index=False).agg({'price':['max','min']})
ejercicio4.columns.droplevel(1)
ejercicio4.columns = ['item', 'variety', 'year', 'price-max', 'price-min']
ejercicio4

### Ejercicio cinco: Cual es precio promedio por item, variety

Ejemplo de como se debe de mostrar su respuesta

In [29]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year-month" : ['2021-01']   
    , "avg-price" : [0.5]
})

      item variety year-month  avg-price
0  Manzana    Gala    2021-01        0.5

In [ ]:
ejercicio5 = vdf.groupby(['item','variety'],as_index=False).agg({'price' : ['mean']}).drop_duplicates()
ejercicio5['year_month'] = vdf['date'].dt.strftime('%Y-%m')
ejercicio5.columns.droplevel(1) 
ejercicio5.columns = ['item', 'variety', 'avg-price', 'year-month']
ejercicio5

### Ejercicio seis: muestre por category,item,variety que tanto % ha aumentado su precio

Ejemplo: si para las manzanas gala el primer precio que se registro fue 2.00 y el ultimo precio que se registro es 4.00 este aumento un 100%

In [36]:
pd.DataFrame({
    "category": ["fruta","fruta"]
    ,"item" : ['Manzana','Manzana']
    , "variety" : ['Gala','egremont_russet']
    , "percentage-change-between-first-and-last-price" : [200,150]       
})

,category,item,variety,percentage-change-between-first-and-last-price
0,fruta,Manzana,Gala,200
1,fruta,Manzana,egremont_russet,150

In [ ]:
ejercicio6 = vdf.loc[ :, ['category', 'item', 'variety', 'price']].sort_values(['category', 'item', 'variety', 'price'],ascending=False)
ejercicio6['price'] = ejercicio6.groupby(['item'],as_index=False)['price'].shift(1)
ejercicio6 = ejercicio6.loc[~pd.isna(ejercicio6['price']), :]
ejercicio6['price'] = (ejercicio6['price'] - vdf['price'])*100
ejercicio6.columns = ['category', 'item', 'variety', 'percentage-change-between-first-and-last-price']
ejercicio6

### Ejercicio siete: Segun el ejercicio seis por category cual es el item,variety con mayor aumento de crecimiento 

Segun el ejemplo dummy que se utilizo en el ejercicio seis para la category fruta se mostraria la manzana gala unicamente

In [ ]:
ejercicio7  = ejercicio6.groupby(['category'],as_index=False).agg({'item' : ["max",] , 'variety' : ["max",]})
ejercicio7.columns.droplevel(1)
ejercicio7.columns = ['category', 'item-max', 'variety-max']
ejercicio7